

/* card-icons */

.card-expertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 390px;
}

.card-image-icon {
    padding: 30px;
}

.card-title-icon {
    font-weight: 900;
    letter-spacing: 0.7px;
    text-align: center;
    color: #413d4b;
}

.card-description-icon {
    text-align: center;
    color: rgba(51, 51, 51, 0.75);
    padding: 10px 0;
    width: 250px;
}

.grid-expertise{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-items{
margin-bottom: 20px;
}

.expertise{
    margin: 70px 0;

}

